# PyCity Schools Analysis

In [2]:
# import packages
import pandas as pd
from pathlib import Path

In [3]:
# filepaths
school_file = Path('Resources/schools_complete.csv')
student_file = Path('Resources/students_complete.csv')

# load files
school_df = pd.read_csv(school_file)
student_df = pd.read_csv(student_file)

# combine data into one dataset
df = pd.merge(student_df, school_df, how='left', on=['school_name', 'school_name'])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [9]:
# total number of unique schools
n_schools = df['school_name'].nunique()
n_schools

15

In [8]:
# total students
n_students = df['Student ID'].nunique()
n_students

39170

In [11]:
# total budget
tt_budget = school_df['budget'].sum()
tt_budget

24649428

In [12]:
# average math score
avg_math = df['math_score'].mean()
avg_math

78.98537145774827

In [13]:
# average reading score
avg_read = df['reading_score'].mean()
avg_read

81.87784018381414

In [39]:
# % passing math
pass_math = df.loc[df['math_score']>69,'math_score'].count()
prt_pass_math = 100*(pass_math/n_students)
prt_pass_math

74.9808526933878

In [40]:
# % passing reading
pass_read = df.loc[df['reading_score']>69,'reading_score'].count()
prt_pass_read = 100*(pass_math/n_students)
prt_pass_read

74.9808526933878

In [22]:
# % passing math and reading
pass_mathread = df.loc[(df['math_score']>69) & (df['reading_score']>69),'math_score'].count()
prt_pass_mathread = 100*(pass_mathread/n_students)
prt_pass_mathread

65.17232575950983

In [29]:
# summary stats
district_summary = pd.DataFrame([{'Total Schools': n_schools,'Total Students': n_students, 'Total Budget': tt_budget,
                                  'Average Math Score': avg_math,'Average Reading Score': avg_read,
                                  '% Passing Math': prt_pass_math,'% Passing Reading': prt_pass_read,
                                  '% Overall Passing': prt_pass_mathread}])

# formatting
district_summary["Total Students"] = district_summary["Total Students"].astype(float).map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].astype(float).map("${:,.2f}".format)

# display table
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170.0","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

In [30]:
# each schools type
school_type = school_df.set_index(['school_name'])['type']
school_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [32]:
# total students per school
school_size = school_df.set_index(['school_name'])['size']
school_size

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [35]:
# budget per school
school_budget = school_df.set_index(['school_name'])['budget']
school_budget

# budget per capita
school_budget_perCap = school_budget/school_size
school_budget_perCap

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [41]:
# group df by school
grouped = df.groupby('school_name')

# average math score per school
avg_math_by = grouped['math_score'].mean()
avg_math_by

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [43]:
# average reading score per school
avg_read_by = grouped['reading_score'].mean()
avg_read_by

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [46]:
# % passing math per school
pass_math = df.loc[df['math_score']>69,:]
group_pass_math = pass_math.groupby('school_name').count()

prt_pass_math_school = 100*(group_pass_math['math_score']/school_size)
prt_pass_math_school

school_name
Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [48]:
# % passing reading per school
pass_read = df.loc[df['reading_score']>69,:]
group_pass_read = pass_read.groupby('school_name').count()

prt_pass_read_school = 100*(group_pass_read['reading_score']/school_size)
prt_pass_read_school

school_name
Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [49]:
# % passing math and reading
pass_mathread = df.loc[(df['reading_score']>69) & (df['math_score']>69),:]
group_pass_mathread = pass_mathread.groupby('school_name').count()

prt_pass_mathread_school = 100*(group_pass_mathread['Student ID']/school_size)
prt_pass_mathread_school

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [116]:
# schools summary
school_sum = pd.DataFrame({'School Type': school_type,'Total Students': school_size,
                               'Total School Budget': school_budget,'Per Student Budget': school_budget_perCap,
                               'Average Math Score': avg_math_by,'Average Reading Score': avg_read_by,
                               '% Passing Math': prt_pass_math_school,'% Passing Reading': prt_pass_read_school,
                               '% Overall Passing': prt_pass_mathread_school})

# create a copy to edit formats
school_summary = school_sum.copy()

# formatting
school_summary["Total Students"] = school_summary["Total Students"].map("{:,}".format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map("${:,.2f}".format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map("${:,.2f}".format)

# display DataFrame
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

## Highest-Performing Schools (by % Overall Passing)

In [62]:
#sort school summary from highest-performing schools to lowest-performing schools
sort_school_overall= school_summary.sort_values('% Overall Passing', ascending = False)

#show the 5 highest performing schools
sort_school_overall.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

## Lowest-Performing Schools (by % Overall Passing)

In [68]:
# show the 5 lowest performing schools
sort_school_overall.tail(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

## Math Scores by Grade

In [96]:
# separate by grade
ninth = df[df['grade'] == '9th']
tenth = df[df['grade'] == '10th']
eleventh = df[df['grade'] == '11th']
twelfth = df[df['grade'] == '12th']

# average math score for students by grade at each school
# group each dataset by school and get the mean of the math score
nin_avg_math = ninth.groupby('school_name')['math_score'].mean()
ten_avg_math = tenth.groupby('school_name')['math_score'].mean()
ele_avg_math = eleventh.groupby('school_name')['math_score'].mean()
twe_avg_math = twelfth.groupby('school_name')['math_score'].mean()

# combine into a single DataFrame
math_scores_by_grade = pd.DataFrame({'9th': nin_avg_math,'10th': ten_avg_math,'11th': ele_avg_math,'12th': twe_avg_math})

# minor data wrangling
math_scores_by_grade.index.name = None

# display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [97]:
# average reading score for students by grade at each school
# group each dataset by school and get the mean of the math score
nin_avg_read = ninth.groupby('school_name')['reading_score'].mean()
ten_avg_read = tenth.groupby('school_name')['reading_score'].mean()
ele_avg_read = eleventh.groupby('school_name')['reading_score'].mean()
twe_avg_read = twelfth.groupby('school_name')['reading_score'].mean()

# combine into a single DataFrame
read_scores_by_grade = pd.DataFrame({'9th': nin_avg_read,'10th': ten_avg_read,'11th': ele_avg_read,'12th': twe_avg_read})

# minor data wrangling
read_scores_by_grade.index.name = None

# display the DataFrame
read_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [124]:
# bins for spending
bins = [0,585,630,645,680]
labels = ['<$585','$585-630','$630-645','$645-680']

In [125]:
# create a copy of the original DataFrame
school_spend = school_sum.copy()

In [126]:
# categorize the per capita budget with the labels
school_spend['Spending Ranges (Per Student)'] = pd.cut(school_spend['Per Student Budget'], bins, labels=labels, include_lowest=True)

# format table values
school_spend["Total Students"] = school_spend["Total Students"].map("{:,}".format)
school_spend["Total School Budget"] = school_spend["Total School Budget"].map("${:,.2f}".format)
school_spend["Per Student Budget"] = school_spend["Per Student Budget"].map("${:,.2f}".format)

school_spend

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [127]:
# calculate averages for scores by spending range
spending_math_scores = school_spend.groupby(['Spending Ranges (Per Student)'])['Average Math Score'].mean()
spending_read_scores = school_spend.groupby(['Spending Ranges (Per Student)'])['Average Reading Score'].mean()
spending_passing_math = school_spend.groupby(['Spending Ranges (Per Student)'])['% Passing Math'].mean()
spending_passing_read = school_spend.groupby(['Spending Ranges (Per Student)'])['% Passing Reading'].mean()
spending_passing_overall = school_spend.groupby(['Spending Ranges (Per Student)'])['% Overall Passing'].mean()

C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\688718893.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spend.groupby(['Spending Ranges (Per Student)'])['Average Math Score'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\688718893.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_read_scores = school_spend.groupby(['Spending Ranges (Per Student)'])['Average Reading Score'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\688718893.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spend.groupby(['Spending Ranges (Per Student)'])['% Passing Math'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\688718893.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_read = school_spend.groupby(['Spending Ranges (Per Student)'])['% Passing Reading'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\688718893.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_overall = school_spend.groupby(['Spending Ranges (Per Student)'])['% Overall Passing'].mean()

In [129]:
# summary table
spend_summary = pd.DataFrame({'Average Math Score': spending_math_scores, 'Average Reading Score': spending_read_scores,
                               '% Passing Math': spending_passing_math, '% Passing Reading': spending_passing_read,
                               '% Overall Passing': spending_passing_overall})

# display table
spend_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

## Scores by School Size

In [130]:
# bins for school size
size_bins = [0, 1000, 2000, 5000]
size_labels = ['Small (<1000)', 'Medium (1000-2000)', 'Large (2000-5000)']

In [135]:
# create a copy of the original DataFrame
school_size = school_sum.copy()

In [136]:
# categorize the school sizes
school_size['School Size'] = pd.cut(school_size['Total Students'], size_bins, labels=size_labels, include_lowest=True)

# format table values
school_size["Total Students"] = school_size["Total Students"].map("{:,}".format)
school_size["Total School Budget"] = school_size["Total School Budget"].map("${:,.2f}".format)
school_size["Per Student Budget"] = school_size["Per Student Budget"].map("${:,.2f}".format)

school_size

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [137]:
# calculate averages for scores by spending range
size_math_scores = school_size.groupby(['School Size'])['Average Math Score'].mean()
size_read_scores = school_size.groupby(['School Size'])['Average Reading Score'].mean()
size_passing_math = school_size.groupby(['School Size'])['% Passing Math'].mean()
size_passing_read = school_size.groupby(['School Size'])['% Passing Reading'].mean()
size_passing_overall = school_size.groupby(['School Size'])['% Overall Passing'].mean()

C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\2428495294.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = school_size.groupby(['School Size'])['Average Math Score'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\2428495294.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_read_scores = school_size.groupby(['School Size'])['Average Reading Score'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\2428495294.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = school_size.groupby(['School Size'])['% Passing Math'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\2428495294.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_read = school_size.groupby(['School Size'])['% Passing Reading'].mean()
C:\Users\Megan\AppData\Local\Temp\ipykernel_21076\2428495294.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_overall = school_size.groupby(['School Size'])['% Overall Passing'].mean()

In [138]:
# summary table
size_summary = pd.DataFrame({'Average Math Score': size_math_scores, 'Average Reading Score': size_read_scores,
                             '% Passing Math': size_passing_math, '% Passing Reading': size_passing_read,
                             '% Overall Passing': size_passing_overall})

# display table
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

## Scores by School Type

In [139]:
# calculate averages for scores by school type
type_math_scores = school_sum.groupby(['School Type'])['Average Math Score'].mean()
type_read_scores = school_sum.groupby(['School Type'])['Average Reading Score'].mean()
type_passing_math = school_sum.groupby(['School Type'])['% Passing Math'].mean()
type_passing_read = school_sum.groupby(['School Type'])['% Passing Reading'].mean()
type_passing_overall = school_sum.groupby(['School Type'])['% Overall Passing'].mean()

In [140]:
# summary table
type_summary = pd.DataFrame({'Average Math Score': type_math_scores, 'Average Reading Score': type_read_scores,
                             '% Passing Math': type_passing_math, '% Passing Reading': type_passing_read,
                             '% Overall Passing': type_passing_overall})

# display table
type_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208